html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #F3F1EC;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
}

body {
  color: #000000;
  font-family: "PT Sans";
  font-size: 16px;
}

.container {
  width: 1140px;
  margin: 0 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 45px;
}

input {
  color: #585858;
  font-family: inherit;
  font-size: 14px;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.mb-6 {
  margin-bottom: 60px !important;
}

.mb-7 {
  margin-bottom: 70px !important;
}

.studying-oxford {
  display: block;
  margin-bottom: 50px;
  width: 100%;
}
.studying-oxford .container {
  margin-right: 0;
}
.studying-oxford .container h2 {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  cursor: default;
}
.studying-oxford .container .cards {
  position: relative;
  margin-top: 15px;
  display: flex;
}
.studying-oxford .container .cards .card {
  position: relative;
  margin-right: 25px;
  cursor: pointer;
}
.studying-oxford .container .cards .card .image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.studying-oxford .container .cards .card .image img {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 500px;
}
.studying-oxford .container .cards .card h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 20px;
  padding: 15px;
  text-transform: none;
  background-color: #F0E9DE;
}
.studying-oxford .container .cards .card h2 i {
  color: #969696;
}
.studying-oxford .container .cards .card:hover .image {
  background-color: rgba(0, 0, 0, 0.277);
}
.studying-oxford .container .cards .card:hover h2 {
  color: #be0f34;
}
.studying-oxford .container .cards .card:last-child {
  margin-right: 0;
}

.oxford__colleges {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.oxford__colleges .toggle-icon {
  position: absolute;
  right: 15px;
  width: 27px;
  height: 27px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.oxford__colleges .toggle-icon:hover {
  background-color: #ffffff;
  color: #000000;
}
.oxford__colleges .carousel-prev-btn {
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 200px;
}
.oxford__colleges .carousel-prev-btn i {
  font-size: 64px;
  cursor: pointer;
}
.oxford__colleges .carousel-prev-btn i:hover {
  top: 200px;
  color: rgb(229.5, 229.5, 229.5);
}
.oxford__colleges .field-item-single-h2 {
  position: absolute;
  left: 20px;
  bottom: 70px;
  font-size: 33px;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.oxford__colleges .field-item-single-p {
  position: absolute;
  bottom: 35px;
  left: 20px;
  font-size: 22px;
  font-weight: 500;
}
.oxford__colleges .carousel-pager {
  cursor: default;
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: 20px;
  background-color: transparent;
}
.oxford__colleges .carousel-pager button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}
.oxford__colleges .carousel-pager button:hover {
  background-color: #fff;
}
.oxford__colleges .carousel-pager button:nth-child(2) {
  background-color: #fff;
}

.discover {
  background-color: #E0DED9;
  padding: 40px 0 50px;
  margin-bottom: 50px;
  position: relative;
}
.discover h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  cursor: default;
}
.discover .cards {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
}
.discover .cards .card {
  width: 25%;
  margin-right: 15px;
  cursor: pointer;
}
.discover .cards .card:last-child {
  margin-right: 0;
}
.discover .cards .card .image {
  position: relative;
  width: 240px;
  margin-bottom: 10px;
}
.discover .cards .card .image .img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.349);
}
.discover .cards .card h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  cursor: pointer;
}
.discover .cards .card p {
  font-size: 16px;
  font-weight: 500;
}
.discover .cards .card:hover .image .img {
  display: inline-block;
}
.discover .cards .card:hover h2 {
  color: #be0f34;
}
.discover i {
  position: absolute;
  top: 35%;
  right: 40px;
  font-size: 60px;
  color: #717F90;
  cursor: pointer;
}

.header {
  background-color: #002147;
  color: #E0DED9;
}
.header__section {
  display: flex;
  align-items: center;
  padding: 25px;
}
.header__section .header__logo {
  margin-right: 27px;
}
.header__section .header__logo--img:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: -10px;
}
.nav__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 56%;
  box-sizing: border-box;
}
.nav__left .nav__left--links {
  z-index: 2;
  position: relative;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 25px;
  color: rgb(216.75, 216.75, 216.75);
  text-transform: uppercase;
  border-right: 1px solid rgb(51.5, 51.5, 51.5);
}
.nav__left .nav__left--links ul {
  font-size: 16px;
  color: #2F72A8;
  width: 150%;
  position: absolute;
  top: 32px;
  text-transform: capitalize;
  background-color: #fff;
  cursor: pointer;
  display: none;
}
.nav__left .nav__left--links ul li {
  padding: 9px;
  box-sizing: border-box;
  border-bottom: 1px solid;
  border-bottom-color: #dfdfdf;
}
.nav__left .nav__left--links ul li:last-child {
  border-bottom: none;
}
.nav__left .nav__left--links ul li:hover {
  background-color: #2F72A8;
  color: #ffffff;
}
.nav__left .nav__left--links span {
  padding: 10px;
  cursor: pointer;
}
.nav__left .nav__left--links span::before {
  content: "";
  top: 50%;
  right: 15px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-top: 5px solid white;
}
.nav__left .nav__left--links:hover > span {
  background-color: #2F72A8;
  color: white;
}
.nav__left .nav__left--links:hover > ul {
  display: block;
}
.nav__left .nav__left--links:hover > ul:hover + span {
  background-color: #ffffff;
  color: black;
}
.nav__right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 45%;
  top: 8px;
}
.nav__right--top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.nav__right--top__selects {
  display: flex;
  align-items: center;
  background-color: #001833;
}
.nav__right--top__selects span:hover {
  background-color: #00142B;
}
.nav__right--top__selects span:hover select {
  color: #ffffff;
}
.nav__right--top__selects span select {
  color: rgb(191.25, 191.25, 191.25);
  font-size: 12px;
  padding: 18px 18px 15px 15px;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.nav__right--top__selects span select:last-child {
  padding-left: 15px;
  padding-right: 0;
  margin-right: 20px;
}
.nav__right--top__selects span select:first-child {
  padding-right: 5px;
}
.nav__right--top__inputs {
  position: relative;
  width: 100%;
  background-color: #1A385A;
  display: flex;
  align-items: center;
}
.nav__right--top__inputs input {
  padding: 13px;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  outline: none;
}
.nav__right--top__inputs input:focus {
  color: black;
  background-color: #fff;
}
.nav__right--top__inputs input:focus + i {
  color: grey;
}
.nav__right--top__inputs i {
  position: absolute;
  font-size: 20px;
  right: 10px;
  cursor: pointer;
}
.nav__right--bottom {
  margin-left: auto;
  margin-top: 10px;
}
.nav__right--bottom a {
  font-size: 16px;
  font-weight: 300;
  margin-right: 15px;
  color: rgb(191.25, 191.25, 191.25);
}
.nav__right--bottom a:last-child {
  margin-right: 0;
}
.nav__right--bottom a:hover {
  color: #ffffff;
}

.news-all {
  margin-top: 50px;
  margin-bottom: 180px;
}
.news-all .news-all__groups {
  position: relative;
  width: 100%;
}
.news-all .news-all__groups .news-all__group-1 > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.news-all .news-all__groups .news-all__group-1 > div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-right: 15px;
}
.news-all .news-all__groups .news-all__group-1 > div p {
  color: #2F72A8;
  cursor: pointer;
}
.news-all .news-all__groups .news-all__group-1 > div p:hover {
  text-decoration: underline;
}
.news-all .news-all__groups .news-all__group-1 > .cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.news-all .news-all__groups .news-all__group-1 > .cards .card {
  margin-right: 30px;
  width: 24%;
  box-sizing: border-box;
  height: 340px;
  height: 200px;
  cursor: pointer;
}
.news-all .news-all__groups .news-all__group-1 > .cards .card .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  height: 100%;
}
.news-all .news-all__groups .news-all__group-1 > .cards .card:nth-child(1) .image {
  background-image: url("/images/Antibiotics 2.jpg");
}
.news-all .news-all__groups .news-all__group-1 > .cards .card:nth-child(1) p {
  color: grey;
}
.news-all .news-all__groups .news-all__group-1 > .cards .card:nth-child(2) .image {
  background-image: url("/images/Radcliffe Camera.jpg");
}
.news-all .news-all__groups .news-all__group-1 > .cards .card:nth-child(2) p {
  color: grey;
}
.news-all .news-all__groups .news-all__group-1 > .cards .card:nth-child(3) .image {
  background-image: url("/images/stoneham_360.jpg");
}
.news-all .news-all__groups .news-all__group-1 > .cards .card h2 {
  font-size: 22px;
  margin-bottom: 10px;
  letter-spacing: -1px;
  color: black;
  font-weight: bold;
}
.news-all .news-all__groups .news-all__group-1 > .cards .card p {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}
.news-all .news-all__groups .news-all__group-1 > .cards .card:hover:nth-child(1) .image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.38)), url("/images/Antibiotics 2.jpg");
}
.news-all .news-all__groups .news-all__group-1 > .cards .card:hover:nth-child(2) .image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.38)), url("/images/Radcliffe Camera.jpg");
}
.news-all .news-all__groups .news-all__group-1 > .cards .card:hover:nth-child(3) .image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.38)), url("/images/stoneham_360.jpg");
}
.news-all .news-all__groups .news-all__group-1 > .cards .card:hover h2 {
  color: #be0f34;
}
.news-all .news-all__groups .news-all__group-2 {
  width: 20%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
}
.news-all .news-all__groups .news-all__group-2 .events {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.news-all .news-all__groups .news-all__group-2 .events h2 {
  font-size: 30px;
  font-weight: 500;
  margin-right: 15px;
}
.news-all .news-all__groups .news-all__group-2 .events p {
  color: #2F72A8;
  cursor: pointer;
}
.news-all .news-all__groups .news-all__group-2 .events p:hover {
  text-decoration: underline;
}
.news-all .news-all__groups .news-all__group-2 .cards {
  position: relative;
}
.news-all .news-all__groups .news-all__group-2 .cards .card {
  position: relative;
  left: 65px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.news-all .news-all__groups .news-all__group-2 .cards .card h2 > span {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  left: -70px;
  top: 5px;
  background-color: #002147;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  padding: 9px 10px 5px;
  line-height: 15px;
  cursor: default;
}
.news-all .news-all__groups .news-all__group-2 .cards .card h2 > span span:first-child {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
}
.news-all .news-all__groups .news-all__group-2 .cards .card h2 > span small {
  color: #ffffff;
}
.news-all .news-all__groups .news-all__group-2 .cards .card h2 {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.news-all .news-all__groups .news-all__group-2 .cards .card h2:hover {
  color: #be0f34;
}
.news-all .news-all__groups .news-all__group-2 .cards .card p {
  font-size: 18px;
  color: #000000;
  line-height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: default;
}
.news-all .news-all__groups .news-all__group-2 .cards .card small {
  color: grey;
  font-weight: 400;
  font-size: 15px;
  cursor: default;
}

.footer__oxford {
  background-color: #002147;
  color: #ffffff;
  padding: 20px 0 0;
}
.footer__oxford .container {
  display: flex;
  flex-direction: column;
}
.footer__oxford .container .connect {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.234);
  margin-bottom: 20px;
}
.footer__oxford .container .connect h2 {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-right: 20px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: default;
}
.footer__oxford .container .connect span i {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.footer__oxford .container .connect span i:nth-child(1) {
  background-color: #AA1DD3;
}
.footer__oxford .container .connect span i:nth-child(1):hover {
  color: #AA1DD3;
}
.footer__oxford .container .connect span i:nth-child(2) {
  background-color: #BE0F34;
}
.footer__oxford .container .connect span i:nth-child(2):hover {
  color: #BE0F34;
}
.footer__oxford .container .connect span i:nth-child(3) {
  background-color: #000000;
}
.footer__oxford .container .connect span i:nth-child(3):hover {
  color: #000000;
}
.footer__oxford .container .connect span i:nth-child(4) {
  background-color: #3B5999;
}
.footer__oxford .container .connect span i:nth-child(4):hover {
  color: #3B5999;
}
.footer__oxford .container .connect span i:nth-child(5) {
  background-color: #000000;
}
.footer__oxford .container .connect span i:nth-child(5):hover {
  color: #000000;
}
.footer__oxford .container .connect span i:nth-child(6) {
  background-color: #006599;
}
.footer__oxford .container .connect span i:nth-child(6):hover {
  color: #006599;
}
.footer__oxford .container .connect span i:nth-child(7) {
  background-color: #D62A2A;
}
.footer__oxford .container .connect span i:nth-child(7):hover {
  color: #D62A2A;
}
.footer__oxford .container .connect span i:nth-child(8) {
  background-color: #517FA4;
}
.footer__oxford .container .connect span i:nth-child(8):hover {
  color: #517FA4;
}
.footer__oxford .container .connect span i:nth-child(9) {
  background-color: #000000;
}
.footer__oxford .container .connect span i:nth-child(9):hover {
  color: #000000;
}
.footer__oxford .container .connect span i:nth-child(10) {
  background-color: #D8352A;
}
.footer__oxford .container .connect span i:nth-child(10):hover {
  color: #D8352A;
}
.footer__oxford .container .connect span i:hover {
  background-color: #fff;
}
.footer__oxford .container .information {
  display: flex;
}
.footer__oxford .container .information .information__card {
  margin-right: 50px;
  padding-top: 20px;
  padding-left: 30px;
  border-left: 1px solid rgba(128, 128, 128, 0.131);
}
.footer__oxford .container .information .information__card h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 22px;
  margin-bottom: 10px;
  cursor: default;
}
.footer__oxford .container .information .information__card div {
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.651);
  cursor: pointer;
}
.footer__oxford .container .information .information__card div:hover {
  color: white;
}
.footer__oxford .container .university__of--oxford {
  display: flex;
  margin-top: 50px;
  border-top: 1px solid rgba(128, 128, 128, 0.204);
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer__oxford .container .university__of--oxford span {
  margin-right: 10px;
  font-size: 14px;
  color: #c7c2bc;
  cursor: default;
}
.footer__oxford .container .university__of--oxford p {
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

/* oxford colleges section */
.oxford__colleges {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom, transparent, 78%, rgb(0, 0, 0)), url(/images/steve-langton_spring-at-nuffield_33727903391_o.jpg);
  min-height: 80vh;
  color: #ffffff;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
