// bg-color:
$bg-color-nav-footer: #002147;
$bg-color-menu: #001833;
$bg-color-search: #1A385A;
$bg-color-whiter: #F3F1EC;

// color:
$color-whiter-2: #E0DED9;
$color-white: #ffffff;
$color-dark-red: #be0f34;
$color-black: #000000; 
$color-input: #585858;

// size:
$container: 1140px;
$border-radius: 20px;
$gap-vertical: 30px;
$gap-horizantal: 40px;


// fonts:
$pt-sans: 'PT Sans';
$pt-sans-narrow: 'PT Sans Narrow';