@font-face {
    font-family: 'PT Sans Narrow';
    src: url('PTSans-NarrowBold.woff2') format('woff2'),
        url('PTSans-NarrowBold.woff') format('woff'),
        url('PTSans-NarrowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('PTSans-Narrow.woff2') format('woff2'),
        url('PTSans-Narrow.woff') format('woff'),
        url('PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

