.header {
    background-color: $bg-color-nav-footer;
    color: $color-whiter-2;
    &__section {
        display: flex;
        align-items: center;
        padding: 25px;
        .header__logo {
            margin-right: 27px;
            &--img {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}